.rfloat {
    float:right;
}

#body {
    padding-bottom: 50px;
}

.team_schedule_list {
    list-style-type: none;
}

.game_summary a:visited {
    text-decoration:none;
    color:black;
    font-color:black;
}
.game_summary a:hover {
    text-decoration:none;
    color:black;
    font-color:black;
}
.game_summary a:active {
    text-decoration:none;
    color:black;
    font-color:black;
}
.game_summary a:link {
    text-decoration:none;
    color:black;
    font-color:black;
}

.game_summary {
    border-bottom: 1px solid grey;
    padding: 5px;
}

.game_summary:hover {
    background-color: #6E6E6E;
}

.completed {
    background-color: #BDBDBD;
}
